#text
{
    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 95%;
}

#button
{
    padding: 10px;
    width: 100px;
    color: white;
    background-color: #222227;
    border: none;
}

#box
{
    color: #eee;
    background-color: #167e56;
    margin: auto;
    width: 400px;
    padding: 20px;
}

a
{
    color: #eee;
}

a:link 
{
    text-decoration: none;
}
  
a:visited
{
    text-decoration: none;
}

/* Modified from https://codepen.io/JiveDig/pen/jbdJXR?editors=1100 */
/* Start---Button Toggles. Used on the admin page */
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #167e56;
	color: #eee;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid #eee;
	box-shadow: inset 0 1px 3px #167e56, 0 1px #167e56;
	transition: all 0.3s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #eee;
	box-shadow: none;
	color: #222227;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
/* End---Button Toggles. Used on the admin page */